# Docker Compose defaults
APP_PORT=3000
DB_PORT=5432
POSTGRES_DB=vrc_event_calendar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/vrc_event_calendar?schema=public
