# Normalize line endings
* text=auto eol=lf

# Binary files
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary

# Exclude from distribution archives
.coderabbit.yaml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.imgbotconfig export-ignore
